.infoPaciente {
  margin-left: 17px;

  .infoDados {
    display: flex;
    justify-content: space-between;

    .codigo {
      display: inline-flex;

      .search {
        margin-top: 6%;
        margin-left: 6%;

        button {
          cursor: pointer;
          background: none;
          border: 0;
        }
      }
    }

    .nome {
      width: 84%;
    }

    .nacionalidade {
      width: 40%;
      margin-left: 4%;
    }

    .naturalidade {
      width: 40%;
      margin-left: 5%;
    }

    .instrucao {
      width: 49%;
    }

    .profissao {
      width: 50%;
    }

    .endereco {
      width: 23%;
    }

    .bairro {
      width: 30%;
    }

    .cidade {
      width: 20%;
    }

    .recado {
      width: 30%;
    }
  }

  .input {
    width: 100%;
  }

  .btn {
    display: flex;
    justify-content: flex-end;

    .success {
      background-color: #28a745;
      color: white;
      margin-right: 1%;
    }

    .warning {
      background-color: #ffc107;
      color: white;
      margin-right: 1%;
    }
  }
}

/*@media screen and (min-width: 1024px) {
  .infoPaciente {
    .infoDados {
      .nome {
        width: 77%;
      }
    }
  }

  .infoCidade {
    div {
      width: 12%;
    }
  }
}*/
