<mat-card-content class="infoPaciente">
   <div class="row">
    <div class="infoDados">
      <div class="col-md-3 codigo">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código do paciente</mat-label>
          <input type="text" matInput>
        </mat-form-field>

        <button class="search">
          <mat-icon class="material-symbols-outlined">
            search
          </mat-icon>
        </button>
      </div>

      <div class="col-md-3 nome">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nome da Mãe</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Responsável</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-3 nascimento">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input type="date" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 cpf">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CPF</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 rg">
      <mat-form-field class="input" appearance="fill">
        <mat-label>RG</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 sexo">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Sexo</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-4 cor">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Cor</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 nacionalidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nacionalidade</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 naturalidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Naturalidade</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-6 instrucao">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Grau de Instrução</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-6 profissao">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Profissão</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-4 cep">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CEP</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 endereco">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Endereço</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 bairro">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Bairro</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 cidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 uf">
      <mat-form-field class="input" appearance="fill">
        <mat-label>UF</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-3 telefone">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Telefone Fixo</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 celular">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Celular</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 recado">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Recado (Nome)</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 contato">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Contato Recado</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Observaoção</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <!--<table mat-table class="mat-elevation-z8">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Usuário</th>
      <td mat-cell>1</td>
    </ng-container> 

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell>Bruno</td>
    </ng-container>
  </table>-->

  <div class="btn">
    <button mat-raised-button class="success" (click)="recordPatient()">Cadastrar</button>
    <button mat-raised-button class="warning" (click)="hospitalizationPatient()">Internar</button>
    <button mat-raised-button color="warn" (click)="deletePatient()">Excluir</button>
  </div>
</mat-card-content>
