<mat-card-content class="infoPaciente">
  <div class="row">
    <div class="infoDados">
      <div class="col-md-3 codigo">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código do paciente</mat-label>
          <input [(ngModel)]="formCod" matInput>
        </mat-form-field>

        <div class="search">
          <button mat-button-raised (click)="openDialog()">
            <mat-icon class="material-symbols-outlined">
              search
            </mat-icon>
          </button>
        </div>
      </div>

      <div class="col-md-3 nome">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input [(ngModel)]="formNome" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nome da Mãe</mat-label>
        <input [(ngModel)]="formMae" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Responsável</mat-label>
        <input [(ngModel)]="formResponsavel" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-3 nascimento">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input type="date" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 cpf">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="formCPF" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 rg">
      <mat-form-field class="input" appearance="fill">
        <mat-label>RG</mat-label>
        <input [(ngModel)]="formRG" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 sexo">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Sexo</mat-label>
        <input [(ngModel)]="formSexo" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-4 cor">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Cor</mat-label>
        <input [(ngModel)]="formCor" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 nacionalidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nacionalidade</mat-label>
        <input [(ngModel)]="formNacionalide" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 naturalidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Naturalidade</mat-label>
        <input [(ngModel)]="formNaturalidade" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-6 instrucao">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Grau de Instrução</mat-label>
        <input [(ngModel)]="formInstrucao" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-6 profissao">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Profissão</mat-label>
        <input [(ngModel)]="formProfissao" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados infoCidade">
    <div class="col-md-4 cep">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CEP</mat-label>
        <input [(ngModel)]="formCEP" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 endereco">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Endereço</mat-label>
        <input [(ngModel)]="formEndereco" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 bairro">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Bairro</mat-label>
        <input [(ngModel)]="formBairro" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 cidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input [(ngModel)]="formCidade" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 uf">
      <mat-form-field class="input" appearance="fill">
        <mat-label>UF</mat-label>
        <input [(ngModel)]="formUF" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-3 telefone">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Telefone Fixo</mat-label>
        <input [(ngModel)]="formTelefone" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 celular">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Celular</mat-label>
        <input [(ngModel)]="formCelular" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 recado">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Recado (Nome)</mat-label>
        <input [(ngModel)]="formContato" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 contato">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Contato Recado</mat-label>
        <input [(ngModel)]="formTelefoneContato" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="formEmail" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Observação</mat-label>
        <textarea [(ngModel)]="formObservacao" matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="btn">
    <button mat-raised-button class="success" (click)="addPatient()">Cadastrar</button>
    <button mat-raised-button class="warning">Internar</button>
  </div>
</mat-card-content>
