<mat-card-content class="editInfoInternacao">
  <div class="row">
    <div class="editInfoDados">
      <div class="col-md-4 codInternacao">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código da Internação</mat-label>
          <input [(ngModel)]="dataHospitalization.codInternacao" matInput disabled>
        </mat-form-field>
      </div>

      <div class="col-md-4 codPaciente">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código do Paciente</mat-label>
          <input [(ngModel)]="dataHospitalization.codPaciente" matInput disabled>
        </mat-form-field>
      </div>

      <div class="col-md-4 nome">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input [(ngModel)]="dataHospitalization.Paciente" matInput disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="row editInfoDados">
      <div class="col-md-6 nascimento">
        <mat-label>Data de Nascimento</mat-label>
        <input [(ngModel)]="dataHospitalization.Nascimento" matInput disabled>
      </div>

      <div class="col-md-6">
        <mat-label>Nome da Mâe</mat-label>
        <input [(ngModel)]="dataHospitalization.MaePaciente" matInput disabled>
      </div>
    </div>

    <div class="row editInfoDados">
      <div class="col-md-3">
        <mat-label>Data de Entrada</mat-label>
        <input [(ngModel)]="dataHospitalization.dataEntradaInternacao" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>Hora de Entrada</mat-label>
        <input [(ngModel)]="dataHospitalization.horaEntradaInternacao" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>Data de Saída</mat-label>
        <input [(ngModel)]="dataHospitalization.dataSaidaInternacao" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>Hora de saída</mat-label>
        <input [(ngModel)]="dataHospitalization.horaSaidaInternacao" matInput disabled>
      </div>
    </div>

    <div class="row editInfoDados">
      <div class="col-md-3">
        <mat-label>CNS</mat-label>
        <input [(ngModel)]="dataHospitalization.cns" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>Clinica Médica</mat-label>
        <input [(ngModel)]="dataHospitalization.ClinicaMedica" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>Localização</mat-label>
        <input [(ngModel)]="dataHospitalization.localizacao" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>Hora de saída</mat-label>
        <input [(ngModel)]="dataHospitalization.leito" matInput disabled>
      </div>
    </div>

    <div class="row editInfoDados">
      <div class="col-md-3">
        <mat-label>Centro de Custo</mat-label>
        <input [(ngModel)]="dataHospitalization.centroCusto" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>Hipotese Diagnostica</mat-label>
        <input [(ngModel)]="dataHospitalization.hipoteseDiagnostica" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>Médico</mat-label>
        <input [(ngModel)]="dataHospitalization.medico" matInput disabled>
      </div>

      <div class="col-md-3">
        <mat-label>CRM</mat-label>
        <input [(ngModel)]="dataHospitalization.crm" matInput disabled>
      </div>
    </div>

    <div class="row editInfoDados">
      <div class="col-md-6">
        <mat-label>Diaginostico</mat-label>
        <input [(ngModel)]="dataHospitalization.diagnostico" matInput disabled>
      </div>

      <div class="col-md-6">
        <mat-label>Situação</mat-label>
        <input [(ngModel)]="dataHospitalization.situacao" matInput disabled>
      </div>
    </div>
  </div>
</mat-card-content>
