span {
  margin-left: 5%;
}

.tablePatient {
  margin-left: 4%;
  width: 100%;

  th {
    position: sticky;
    top: 0;
    background-color: white;
  }

  .options {
    width: 12%;
  }

  button {
    margin-left: 24%;
    margin-top: 3px;
    cursor: pointer;
    background: none;
    border: 0;
    color: white;
    border-radius: 5px;
  }

  .info {
    background-color: #17a2b8;
  }

  .edit {
    background-color: #17a2b8;
  }

  .delete {
    background-color: #dc3545;
  }
}

table {
  width: 100%;
}
