<mat-toolbar>
  <span>Internações</span>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="tablePatient mat-elevation-z8">

  <ng-container matColumnDef="codInternacao">
    <th mat-header-cell *matHeaderCellDef>ID Internação</th>
    <td mat-cell *matCellDef="let element">{{ element.codInternacao }}</td>
  </ng-container>

  <ng-container matColumnDef="codPaciente">
    <th mat-header-cell *matHeaderCellDef>ID Paciente</th>
    <td mat-cell *matCellDef="let element">{{ element.codPaciente }}</td>
  </ng-container>

  <ng-container matColumnDef="paciente">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cel *matCellDef="let element">{{ element.Paciente }}</td>
  </ng-container>

  <ng-container matColumnDef="dataEntradaInternacao">
    <th mat-header-cell *matHeaderCellDef>Entrada na Internação</th>
    <td mat-cell *matCellDef="let element">
      {{ element.dataEntradaInternacao | date: 'dd/MM/YYYY' }} -
      {{ element.horaEntradaInternacao | date: 'HH:mm' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="dataSaidaInternacao">
    <th mat-header-cell *matHeaderCellDef>Saida na Internação</th>
    <td mat-cell *matCellDef="let element">
      {{ element.dataSaidaInternacao | date: 'dd/MM/YYYY' }} -
      {{ element.horaSaidaInternacao | date: 'HH:mm' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="cns">
    <th mat-header-cell *matHeaderCellDef>CNS</th>
    <td mat-cell *matCellDef="let element"> {{ element.cns }} </td>
  </ng-container>

  <ng-container matColumnDef="ClinicaMedica">
    <th mat-header-cell *matHeaderCellDef>Clínica Médica</th>
    <td mat-cell *matCellDef="let element"> {{ element.ClinicaMedica }} </td>
  </ng-container>

  <ng-container matColumnDef="localizacao">
    <th mat-header-cell *matHeaderCellDef>Localização</th>
    <td mat-cell *matCellDef="let element"> {{ element.localizacao }} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="leito">
    <th mat-header-cell *matHeaderCellDef>Leito (maca)</th>
    <td mat-cell *matCellDef="let element"> {{ element.cidade }} </td>
  </ng-container> -->

  <ng-container matColumnDef="centroCusto">
    <th mat-header-cell *matHeaderCellDef>Centro de Custo</th>
    <td mat-cell *matCellDef="let element"> {{ element.centroCusto }} </td>
  </ng-container>

  <ng-container matColumnDef="hipoteseDiaginostica">
    <th mat-header-cell *matHeaderCellDef>Hipotese Diaginostica</th>
    <td mat-cell *matCellDef="let element"> {{ element.hipoteseDiaginostica }} </td>
  </ng-container>

  <ng-container matColumnDef="medico">
    <th mat-header-cell *matHeaderCellDef>Médioc</th>
    <td mat-cell *matCellDef="let element"> {{ element.medico }} </td>
  </ng-container>

  <ng-container matColumnDef="crm">
    <th mat-header-cell *matHeaderCellDef>CRM</th>
    <td mat-cell *matCellDef="let element"> {{ element.crm }} </td>
  </ng-container>

  <ng-container matColumnDef="situacao">
    <th mat-header-cell *matHeaderCellDef>Situação</th>
    <td mat-cell *matCellDef="let element"> {{ element.situacao }} </td>
  </ng-container>

  <ng-container matColumnDef="Opcoes">
    <th mat-header-cell *matHeaderCellDef>Opções</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="HospitalizationAllInformation(element.codInternacao)" class="info">
        <mat-icon class="material-symbols-outlined">
          info
        </mat-icon>
      </button>

      <button (click)="EditHospitalization(element.codInternacao)" class="edit">
        <mat-icon class="material-symbols-outlined">
          edit
        </mat-icon>
      </button>

      <button (click)="DeleteHospitalization(element.codInternacao)" class="delete">
        <mat-icon class="material-symbols-outlined">
          delete
        </mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
