mat-sidenav {
  mat-nav-list {
    .menu-btn {
      transition: 300ms ease-in-out;
      transform: rotate(0deg);
      position: absolute;
    }

    .menu-btn.rotated {
      transform: rotate(180deg)
    }
  }
}
