.header {
  display: flex;
  align-items: center;

  margin-left: 2%;

  .logo {
    img {
      width: 11%;
      max-width: 500px;
      margin-top: 1%;
      margin-left: -5%;
    }
  }

  .menu {
    margin-left: 6%;

    nav {
      a {
        text-decoration: none;
        color: #0075BE;
        padding: 2%;
      }

      a:hover {
        background-color: #5DADE2;
        color: white;
        border-radius: 5%;

        transition: all .4s;
      }
    }

    .links {
      margin-left: -75%;

      display: flex;
      justify-content: space-around;
    }
  }
}
