<mat-sidenav #sidenav mode="side" opened="true">
  <mat-nav-list>
    <mat-list-item class="logo">
      <img src="../../../images/logo.png" />
    </mat-list-item>

    <mat-list-item class="open" (click)="isExpanded = !isExpanded">
      <mat-icon
        [ngClass]="{'rotated': isExpanded}"
        class="menu-btn"
        >
        menu
      </mat-icon>
    </mat-list-item>

    <a routerLink="/">
      <mat-list-item class="home">
        <mat-icon>home</mat-icon>
        <span *ngIf="isExpanded">Home</span>
      </mat-list-item>
    </a>

    <a routerLink="/paciente">
      <mat-list-item class="supervisor_account">
        <mat-icon>supervisor_account</mat-icon>
        <span *ngIf="isExpanded">Cadastro de Pacientes</span>
      </mat-list-item>
    </a>

    <a routerLink="/pacientes">
      <mat-list-item class="supervisor_account">
        <mat-icon>list_aut</mat-icon>
        <span *ngIf="isExpanded">Lista de Pacientes</span>
      </mat-list-item>
    </a>

    <a routerLink="/internacao">
      <mat-list-item class="supervisor_account">
        <mat-icon>app_registration</mat-icon>
        <span *ngIf="isExpanded">Cadastro de internação</span>
      </mat-list-item>
    </a>

    <a routerLink="/internacoes">
      <mat-list-item class="supervisor_account">
        <mat-icon>list_aut</mat-icon>
        <span *ngIf="isExpanded">Lista de internação</span>
      </mat-list-item>
    </a>

    <a routerLink="/centro-custo">
      <mat-list-item class="supervisor_account">
        <mat-icon>app_registration</mat-icon>
        <span *ngIf="isExpanded">Centro de custo</span>
      </mat-list-item>
    </a>

    <a routerLink="/consulta">
      <mat-list-item class="supervisor_account">
        <mat-icon>app_registration</mat-icon>
        <span *ngIf="isExpanded">Consulta</span>
      </mat-list-item>
    </a>

    <a routerLink="/grafico">
      <mat-list-item class="supervisor_account">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="isExpanded">Gráfico</span>
      </mat-list-item>
    </a>
  </mat-nav-list>
</mat-sidenav>
