.infoPaciente {
  margin-left: 17px;

  .infoDados {
    display: flex;
    justify-content: space-between;

    .codigo {
      display: inline-flex;
    }

    .nome {
      width: 80%;
    }

    .nacionalidade {
      width: 40%;
      margin-left: 1%;
    }

    .naturalidade {
      width: 46%;
      margin-left: 1%;
    }

    .instrucao {
      width: 49%;
    }

    .profissao {
      width: 50%;
    }

    .endereco {
      width: 23%;
    }

    .bairro {
      width: 30%;
    }

    .cidade {
      width: 20%;
    }

    .recado {
      width: 40%;
    }
  }

  .infoCidade {
    div {
      width: 12%;
    }
  }

  .input {
    width: 100%;
  }

  .btn {
    display: flex;
    justify-content: flex-end;

    > button {
      color: white;
      margin-right: 1%;
    }

    .success {
      background-color: #24963e;
    }

    .success:hover {
      background-color: #28a745;

      transition: all .4s;
    }

    .warning {
      background-color: #ffc107;
    }

    .warning:hover {
      background-color: #ffc721;

      transition: all .4s;
    }
  }
}

// @media screen and (min-width: 900px) {
//   .infoDados {
//     // background-color: red;

//     .nome {
//       width: 75% !important;
//     }
//   }
// }
