.editInfoMovement {
  margin-left: 17px;

  .editInfoDados {
    display: flex;
    justify-content: space-between;

    .codigo {
      display: inline-flex;
    }
  }

  .btn {
    display: flex;
    justify-content: flex-end;

    > button {
      color: white;
      margin-right: 1%;
    }

    .success {
      background-color: #24963e;
    }

    .success:hover {
      background-color: #28a745;

      transition: all .4s;
    }

    .back {
      background-color: #ffc107;
    }

    .back:hover {
      background-color: #ffc721;

      transition: all .4s;
    }
  }
}
