<mat-card-content class="infoMov">
  <div class="row">
    <div class="infoDados">
      <div class="col-md-4 codMov">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código de Movimentação</mat-label>
          <input [(ngModel)]="codMovimentacao" matInput readonly>
        </mat-form-field>
      </div>

      <div class="col-md-4" *ngIf="!isValid">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Prontuário</mat-label>
          <mat-select [(ngModel)]="codPacienteMov">
            <mat-option
              *ngFor="let PatientProps of patients"
              [value]="PatientProps.codPaciente"
              (click)="validationCodPatient()">
              {{ PatientProps.codPaciente }} - {{ PatientProps.nomePaciente }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4" *ngIf="isValid">
        <mat-form-field class="input" appearance="fill" (click)="validationCodPatient()">
          <mat-label>Prontuário</mat-label>
          <mat-select [(ngModel)]="codPacienteMov">
            <mat-option
              *ngFor="let PatientProps of patients"
              [value]="PatientProps.codPaciente">
              {{ PatientProps.codPaciente }} 
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4 nomeMov">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input [(ngModel)]="nomePacienteMov" matInput readonly>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-4 nomeMaeMov">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nome da Mãe</mat-label>
        <input [(ngModel)]="nomeMaePacienteMov" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data</mat-label>
        <input [ngModel]="dataMovimentacao | date:'dd/MM/YYYY'" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-3 motivo">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Motivo</mat-label>
        <input [(ngModel)]="motivo" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Localização</mat-label>
        <input [(ngModel)]="localizacao" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Leito</mat-label>
        <input [(ngModel)]="leitoMov" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Centro de Custo</mat-label>
        <mat-select [(ngModel)]="centroCustoMov">
          <mat-option *ngFor="let CostCenter of costCenters" [value]="CostCenter.nomeCentroCusto">
            {{ CostCenter.nomeCentroCusto }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row infoDados">
    <div class="col-md-4 medico">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Médico</mat-label>
        <input [(ngModel)]="medicoMov" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CRM</mat-label>
        <input [(ngModel)]="crmMov" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="btn">
    <button mat-raised-button class="success" (click)="saveMovement()">Movimentar</button>
  </div>
</mat-card-content>
