.infoMov {
  margin-left: 17px;

  .infoDados {
    display: flex;
    justify-content: space-between;

    .codMov {
      display: inline-flex;
    }

    .nomeMov {
      width: 40%;
    }

    .motivo {
      width: 40%;
    }

    .medico {
      width: 80%;
    }
  }

  .input {
    width: 100%;
  }

  .btn {
    display: flex;
    justify-content: flex-end;

    .success {
      background-color: #28a745;
      color: white;
      margin-right: 1%;
    }
  }
}
