<mat-card-content class="infoCostCenter">
  <div class="row">
    <div class="infoDados">
      <div class="col-md-6 codCostCenter">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código de centro custo</mat-label>
          <input [(ngModel)]="codCostCenter" matInput readonly>
        </mat-form-field>
      </div>

      <div class="col-md-6 nomeCostCenter">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome centro custo</mat-label>
          <input [(ngModel)]="nomeCostCenter" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="btn">
    <button mat-raised-button class="success" (click)="saveCostCenter()">Cadastrar</button>
  </div>
</mat-card-content>
