<mat-card-content class="infoInternacao">
  <div class="row">
    <div class="infoDados">
      <div class="col-md-4 codigo" *ngIf="!isValid">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código do paciente</mat-label>
          <mat-select [(ngModel)]="codPaciente">
            <mat-option 
              *ngFor="let PatientProps of patients" 
              [value]="PatientProps.codPaciente" 
              (click)="validationCodPatient()">
              {{ PatientProps.codPaciente }} - {{ PatientProps.nomePaciente }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4 codigo" *ngIf="isValid">
        <mat-form-field class="input" appearance="fill" (click)="validationCodPatient()">
          <mat-label>Código do paciente</mat-label>
          <mat-select [(ngModel)]="codPaciente">
            <mat-option 
              *ngFor="let PatientProps of patients" 
              [value]="PatientProps.codPaciente">
              {{ PatientProps.codPaciente }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4 prontuario">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Prontuário</mat-label>
          <input [(ngModel)]="codInternacao" matInput readonly>
        </mat-form-field>
      </div>

      <div class="col-md-4 nome">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input [(ngModel)]="Paciente" matInput readonly>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row nascimento">
    <div class="col-md-4 mae">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nome da Mãe</mat-label>
        <input [(ngModel)]="MaePaciente" matInput readonly>
      </mat-form-field>
    </div>
  </div>

  <div class="row entradaSaida">
    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input [ngModel]="Nascimento | date: 'dd/MM/YYYY'" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-3 cns">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CNS</mat-label>
        <input [(ngModel)]="cns" matInput readonly>
      </mat-form-field>
    </div>

    <div class="cold-md-3 dataEntrada">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Entrada</mat-label>
        <input [(ngModel)]="dataEntradaInternacao" matInput type="date">
      </mat-form-field>
    </div>

    <div class="cold-md-3 dataSaida">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Saida</mat-label>
        <input [(ngModel)]="dataSaidaInternacao" matInput disabled type="date">
      </mat-form-field>
    </div>
  </div>

  <div class="row infoHospital">
    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Clinica Medica</mat-label>
        <input [(ngModel)]="ClinicaMedica" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Localização</mat-label>
        <input [(ngModel)]="localizacao" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Leito</mat-label>
        <input [(ngModel)]="leito" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Centro de Custo</mat-label>
        <mat-select [(ngModel)]="centroCusto">
          <mat-option *ngFor="let CostCenter of costCenters" [value]="CostCenter.nomeCentroCusto">
            {{ CostCenter.nomeCentroCusto }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Hipótese Diagnóstica</mat-label>
        <textarea [(ngModel)]="hipoteseDiagnostica" matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row medico">
    <div class="col-md-6 nomeMedico">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Médico</mat-label>
        <input [(ngModel)]="medico" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CRM</mat-label>
        <input [(ngModel)]="crm" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Diagnóstico</mat-label>
        <textarea [(ngModel)]="diagnostico" matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Situação</mat-label>
        <input [(ngModel)]="situacao" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="btn">
    <button mat-raised-button class="success" (click)="saveHospitalization()">Internar</button>
  </div>
</mat-card-content>
