.infoInternacao {
  margin-left: 17px;

  .infoDados {
    display: flex;
    justify-content: space-between;

    .codigo {
      display: inline-flex;
    }

    .nome {
      width: 60%;
    }
  }

  .nascimento {
    display: flex;
    justify-content: space-between;

    .mae {
      width: 71%;
    }

    .cns {
      width: 10%;
    }
  }

  .entradaSaida {
    display: flex;
    justify-content: space-between;

    div {
      width: 15%;
    }
  }

  .infoHospital {
    display: flex;
    justify-content: space-between;

    div {
      width: 24%;
    }
  }

  .medico {
    display: flex;
    justify-content: space-between;

    .nomeMedico {
      width: 82%;
    }
  }

  .input {
    width: 100%;
  }

  .btn {
    display: flex;
    justify-content: flex-end;

    .success {
      background-color: #28a745;
      color: white;
      margin-right: 1%;
    }
  }
}

@media screen and (min-width: 900px) {
  .infoDados {
    .nome {
      width: 57% !important;
    }
  }

  .nascimento {
    .mae {
      width: 69% !important;
    }
  }

  .medico {
    .nomeMedico {
      width: 80% !important;
    }
  }
}
