<mat-card-content class="infoConsult">
  <div class="row">
    <div class="infoDados">
      <div class="col-md-6 nomeConsult">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>

      <div class="col-md-6 nomeMaeConsult">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome da mãe</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="infoDados">
      <div class="col-md-2 rg">
        <mat-form-field class="input" appearance="fill">
          <mat-label>RG</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>

      <div class="col-md-2 cpf">
        <mat-form-field class="input" appearance="fill">
          <mat-label>CPF</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>

      <div class="col-md-2 cns">
        <mat-form-field class="input" appearance="fill">
          <mat-label>CNS</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>

      <div class="col-md-2 cns">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Exibir Registros</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>

      <div class="col-md-2 cns">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Apenas</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="btn">
    <button mat-raised-button class="success">Consultar</button>
    <button mat-raised-button class="grafico">Gráfico</button>
  </div>
</mat-card-content>
