.editInfoPaciente {
  margin-left: 17px;

  .editInfoDados {
    display: flex;
    justify-content: space-between;

    .codigo {
      display: inline-flex;

      button {
        cursor: pointer;
        background: none;
        border: 0;
      }
    }

    .nome {
      width: 80%;
    }

    .mae {
      width: 49%;
    }

    .responsavel {
      width: 50%;
    }

    .nacionalidade {
      width: 49%;
    }

    .naturalidade {
      width: 50%;
    }

    .instrucao {
      width: 49%;
    }

    .profissao {
      width: 50%;
    }

    .endereco {
      width: 23%;
    }

    .bairro {
      width: 30%;
    }

    .cidade {
      width: 20%;
    }

    .recado {
      width: 41%;
    }
  }

  .infoCidade {
    div {
      width: 12%;
    }
  }

  .input {
    width: 100%;
  }

  .btn {
    display: flex;
    justify-content: flex-end;

    > button {
      color: white;
      margin-right: 1%;
    }

    .success {
      background-color: #24963e;
    }

    .success:hover {
      background-color: #28a745;

      transition: all .4s;
    }

    .back {
      background-color: #ffc107;
    }

    .back:hover {
      background-color: #ffc721;

      transition: all .4s;
    }
  }
}
