<mat-card-content class="editInfoPaciente">
  <div class="row">
    <div class="editInfoDados">
      <div class="col-md-3 codigo">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código do paciente</mat-label>
          <input [(ngModel)]="dataPatient.codPaciente" matInput disabled>
        </mat-form-field>
      </div>

      <div class="col-md-3 nome">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input [(ngModel)]="dataPatient.nomePaciente" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nome da Mãe</mat-label>
        <input [(ngModel)]="dataPatient.nomeMaePaciente" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Responsável</mat-label>
        <input [(ngModel)]="dataPatient.responsavelPaciente" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row editInfoDados">
    <div class="col-md-3 nascimento">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input [(ngModel)]="dataPatient.dataNascimento" matInput disabled mask="0000/00/00">
      </mat-form-field>
    </div>

    <div class="col-md-3 cpf">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="dataPatient.cpfPaciente" matInput disabled>
      </mat-form-field>
    </div>

    <div class="col-md-3 rg">
      <mat-form-field class="input" appearance="fill">
        <mat-label>RG</mat-label>
        <input [(ngModel)]="dataPatient.rgPaciente" matInput disabled>
      </mat-form-field>
    </div>

    <div class="col-md-3 sexo">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Sexo</mat-label>
        <input [(ngModel)]="dataPatient.sexoPaciente" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row editInfoDados">
    <div class="col-md-4 cor">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Cor</mat-label>
        <input [(ngModel)]="dataPatient.corPaciente" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 nacionalidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nacionalidade</mat-label>
        <input [(ngModel)]="dataPatient.nacionalidade" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 naturalidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Naturalidade</mat-label>
        <input [(ngModel)]="dataPatient.naturalidade" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row editInfoDados">
    <div class="col-md-6 instrucao">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Grau de Instrução</mat-label>
        <input [(ngModel)]="dataPatient.grauInstrucaoPaciente" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-6 profissao">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Profissão</mat-label>
        <input [(ngModel)]="dataPatient.profissaoPaciente" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row editInfoDados infoCidade">
    <div class="col-md-4 cep">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CEP</mat-label>
        <input [(ngModel)]="dataPatient.cep" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 endereco">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Endereço</mat-label>
        <input [(ngModel)]="dataPatient.endereco" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 bairro">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Bairro</mat-label>
        <input [(ngModel)]="dataPatient.bairro" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 cidade">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input [(ngModel)]="dataPatient.bairro" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-4 uf">
      <mat-form-field class="input" appearance="fill">
        <mat-label>UF</mat-label>
        <input [(ngModel)]="dataPatient.uf" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row editInfoDados">
    <div class="col-md-3 telefone">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Telefone Fixo</mat-label>
        <input [(ngModel)]="dataPatient.telefone" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 celular">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Celular</mat-label>
        <input [(ngModel)]="dataPatient.celular" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 recado">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Recado (Nome)</mat-label>
        <input [(ngModel)]="dataPatient.contato" matInput>
      </mat-form-field>
    </div>

    <div class="col-md-3 contato">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Contato Recado</mat-label>
        <input [(ngModel)]="dataPatient.telefoneContato" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="dataPatient.email" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Observação</mat-label>
        <textarea [(ngModel)]="dataPatient.observacao" matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="btn">
    <button mat-raised-button class="back" (click)="back()">Voltar</button>
    <button mat-raised-button class="success" (click)="editPatient(dataPatient)">Editar</button>
  </div>
</mat-card-content>
