<mat-card-content class="editInfoInternacao">
  <div class="row">
    <div class="editInfoDados">
      <div class="col-md-4 codInternacao">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código de Internação</mat-label>
          <input [(ngModel)]="dataHospitalization.codInternacao" matInput readonly>
        </mat-form-field>
      </div>

      <div class="col-md-4 codPaciente">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Código de Paciente</mat-label>
          <input [(ngModel)]="dataHospitalization.codPaciente" matInput readonly>
        </mat-form-field>
      </div>

      <div class="col-md-4 nome">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome do Paciente</mat-label>
          <input [(ngModel)]="dataHospitalization.Paciente" matInput readonly>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row editInfoDados">
    <div class="col-md-4 mae">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nome da Mãe</mat-label>
        <input [(ngModel)]="dataHospitalization.MaePaciente" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-4 nascimento">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input [(ngModel)]="dataHospitalization.Nascimento" matInput readonly>
      </mat-form-field>
    </div>
  </div>

  <div class="row editInfoDados">
    <div class="col-md-3 dataEntrada">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Entrada</mat-label>
        <input [(ngModel)]="dataHospitalization.dataEntradaInternacao" matInput readonly mask="0000/00/00">
      </mat-form-field>
    </div>

    <div class="col-md-3 horaEntrada">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Hora de Entrada</mat-label>
        <input [(ngModel)]="dataHospitalization.horaEntradaInternacao" matInput readonly mask="0000/00/00">
      </mat-form-field>
    </div>

    <div class="col-md-3 dataEntrada">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data de Saída</mat-label>
        <input [(ngModel)]="dataHospitalization.dataSaidaInternacao" matInput readonly mask="0000/00/00">
      </mat-form-field>
    </div>

    <div class="col-md-3 horaEntrada">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Hora de Saída</mat-label>
        <input [(ngModel)]="dataHospitalization.horaSaidaInternacao" matInput readonly mask="0000/00/00">
      </mat-form-field>
    </div>
  </div>

  <div class="row editInfoDados">
    <div class="col-md-3 cns">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CNS</mat-label>
        <input [(ngModel)]="dataHospitalization.cns" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-3 ClinicaMedica">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Clinica Medica</mat-label>
        <input [(ngModel)]="dataHospitalization.ClinicaMedica" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-3 localizacao">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Localização</mat-label>
        <input [(ngModel)]="dataHospitalization.localizacao" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-3 leito">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Leito</mat-label>
        <input [(ngModel)]="dataHospitalization.leito" matInput readonly>
      </mat-form-field>
    </div>
  </div>

  <div class="row editInfoDados">
    <div class="col-md-3 centroCusto">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Centro de Custo</mat-label>
        <input [(ngModel)]="dataHospitalization.centroCusto" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-3 hipoteseDiagnostica">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Hipotese Diagnostica</mat-label>
        <input [(ngModel)]="dataHospitalization.hipoteseDiagnostica" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-3 medico">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Médico</mat-label>
        <input [(ngModel)]="dataHospitalization.medico" matInput readonly>
      </mat-form-field>
    </div>

    <div class="col-md-3 crm">
      <mat-form-field class="input" appearance="fill">
        <mat-label>CRM</mat-label>
        <input [(ngModel)]="dataHospitalization.crm" matInput readonly>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 situacao">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Situação</mat-label>
        <input [(ngModel)]="dataHospitalization.situacao" matInput readonly>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 diagnostico">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Diagnostico</mat-label>
        <textarea [(ngModel)]="dataHospitalization.diagnostico" matInput readonly></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="btn">
    <button mat-raised-button class="back" (click)="back()">Voltar</button>
  </div>
</mat-card-content>
