.editInfoInternacao {
  margin-left: 17px;

  .editInfoDados {
    display: flex;
    justify-content: space-between;

    .codigo {
      display: inline-flex;
    }
  }

  .nome {
    width: 60%;
  }

  .mae {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .btn {
    display: flex;
    justify-content: flex-end;

    > button {
      color: white;
      margin-right: 1%;
    }

    .back {
      background-color: #ffc107;
    }

    .back:hover {
      background-color: #ffc721;

      transition: all .4s;
    }
  }
}
