.tablePatient {
  width: 90%;
  margin-left: 5%;

  button {
    margin-left: 2%;
    cursor: pointer;
    background: none;
    border: 0;
    color: white;
    border-radius: 5px;
  }

  .edit {
    background-color: #17a2b8;
  }

  .delete {
    background-color: #dc3545;
  }
}
