<table mat-table [dataSource]="dataSource" class="tableCostCenter mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.codMovimentacao }}</td>
  </ng-container>

  <ng-container matColumnDef="Nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{ element.nomePacienteMov }}</td>
  </ng-container>

  <ng-container matColumnDef="Prontuario">
    <th mat-header-cell *matHeaderCellDef>Prontuario</th>
    <td mat-cell *matCellDef="let element">{{ element.codPacienteMov }}</td>
  </ng-container>

  <ng-container matColumnDef="Sequencia">
    <th mat-header-cell *matHeaderCellDef>Sequencia</th>
    <td mat-cell *matCellDef="let element">{{ element.nomeCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Data">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let element">{{ element.codCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Hora">
    <th mat-header-cell *matHeaderCellDef>Hora</th>
    <td mat-cell *matCellDef="let element">{{ element.nomeCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Motivo">
    <th mat-header-cell *matHeaderCellDef>Motivo</th>
    <td mat-cell *matCellDef="let element">{{ element.codCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Localizacao">
    <th mat-header-cell *matHeaderCellDef>Localizacao</th>
    <td mat-cell *matCellDef="let element">{{ element.nomeCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Leito">
    <th mat-header-cell *matHeaderCellDef>Leito</th>
    <td mat-cell *matCellDef="let element">{{ element.codCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Centro de Custo">
    <th mat-header-cell *matHeaderCellDef>Centro de Custo</th>
    <td mat-cell *matCellDef="let element">{{ element.nomeCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Clinica Medica">
    <th mat-header-cell *matHeaderCellDef>Clinica Medica</th>
    <td mat-cell *matCellDef="let element">{{ element.codCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Medico">
    <th mat-header-cell *matHeaderCellDef>Medico</th>
    <td mat-cell *matCellDef="let element">{{ element.nomeCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="CRM">
    <th mat-header-cell *matHeaderCellDef>CRM</th>
    <td mat-cell *matCellDef="let element">{{ element.codCentroCusto }}</td>
  </ng-container>

  <ng-container matColumnDef="Opcoes">
    <th mat-header-cell *matHeaderCellDef>Opções</th>
    <td mat-cell *matCellDef="let element">
      <button class="edit">
        <mat-icon class="material-symbols-outlined">
          edit
        </mat-icon>
      </button>

      <button class="delete">
        <mat-icon class="material-symbols-outlined">
          delete
        </mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
