.modalPatient {
  th {
    position: sticky;
    top: 0;
    background-color: white;
  }

  max-height: 500px;
  overflow: auto;

  .tablePatient {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;

    button {
      margin-left: 2%;
      cursor: pointer;
      background: none;
      border: 0;
      color: white;
      border-radius: 5px;
    }

    .edit {
      background-color: #17a2b8;
      padding: 2% 3%;
    }

    .edit:hover {
      background-color: #148ea1;

      transition: all .4s;
    }
  }
}
